@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.btn {
  margin: 10px 0;
}
.actions {
  font-size: 14px;
  padding: 0.075rem 0.45rem;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.container {
  padding: 10px 25px;
}
.table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-spacing: 0;  
    td, th {
        border: 1px solid #dbdbdb;
        padding: .5em .75em;
        vertical-align: middle;        
    }
}
.link_button {
  border: none;
  font-size: 22px;
  color: #fff;
  background: rgb(82, 82, 190);
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  margin: 10px 0;
  &:hover {
    background: rgb(41, 41, 202);
  }  
}
.slide-leave-active {
  transition: .2s;
}
.slide-enter-active {
  transition: .7s;
}
.slide-enter{
  transform: translateX(300%)
}
.slide-leave-to {
  transform: translateX(-100%)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.questions {
  margin: 20px 0;
  ul {
    list-style: none;
    margin: 10px 0;    
    padding-left: 45px;
    li {
      margin: 5px 0 0;
    }
  }
  li {
    position: relative;
    span.deleteAnswer {
      display: inline-block;      
      vertical-align: middle;
      width: 15px;
      height: 15px;
      position: relative;
      cursor: pointer;
      &:after, &:before {
        content: '';
        height: 12px;
        top: calc(50% - 6px);        
        display: block;
        position: absolute;
        width: 2px;
        right: 0;
        background: red;        
      }
      &:after {
        transform: rotate(45deg);        
      }
      &:before {
        transform: rotate(-45deg)
      }
    }
    input {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .checkbox-right-answer {
    position: absolute;
    left: -28px;
    top: calc(50% - 10px);
    height: 20px;
    width: 20px;
  }
}

.deleteQuestion {
  width: 15px;
  height: 15px;
  position: relative;
  cursor: pointer;
  display: inline-block;  
  &:after, &:before {
    content: '';
    height: 12px;
    top: calc(50% - 6px);        
    display: block;
    position: absolute;
    width: 2px;
    left: 0;
    background: green;        
  }
  &:after {
    transform: rotate(45deg);        
  }
  &:before {
    transform: rotate(-45deg)
  }
}

.add-question {
  color: #1eb81e;
  cursor: pointer;
  margin: 45px 0 15px;
  font-size: 20px;
  font-weight: bold;
  transition: .2s;  
  &:hover {
    color: #117711;                
  }
  span {
    display: inline-block;
    vertical-align: middle;    
    &:last-child{
      margin-left: 10px;
    }
    
  }
}

.add-answer {
  color: rgb(30, 184, 30);
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  &:hover {
    color: #117711;            
  }
  &:hover span {
    text-decoration: underline;
  }
  span {
    display: inline-block;
    vertical-align: middle;    
    &:last-child{
      margin-left: 10px;
    }
  }
  .plus {
    height: 15px;
    width: 15px;
    margin-left: 30px;
    &:after, &:before {
      height: 15px;
      width: 2px;
    }
  }
}

.plus {
  width: 20px;
  height: 20px;
  position: relative;
  background: transparent;    
  &:after,
  &:before {
    content: '';
    position: absolute;
    background: rgb(30, 184, 30);
    height: 20px;
    width: 3px;
    left: 15px;
    display: block;
  }  
  &:after {    
    transform: rotate(90deg)
  }
}