@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');
/* @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css); */
@font-face {
	font-family: 'Open Sans Hebrew';
	src: url('../fonts/OpenSansHebrew-Regular.ttf');
	src: local('☺'), url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
  overflow-x: hidden;
  direction: rtl;
  font-family: 'Open Sans Hebrew', serif;
}
* {
  box-sizing: border-box;
}
@import 'header';
.actions-link {
  a, button {
    margin: 0 2px;
    font-weight: bold;
  }
}
.top30 {
  margin-top: 30px;
}
.btn {
  margin: 10px 0;
  min-height: 30px;
  min-width: 60px;
  &.btn-custom {
    background: #03c878;
    border: none;
    border-radius: 0;    
    &:hover {
      background: #03b36c;
    }
  }
  .plus {
    display: inline-block;
    &:before, &:after {
      background: #fff;
      left: 7px;
      top: 3px;
    }
  }
}
.absolute-text-center {
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.relative {
  position: relative;
}
a.btn-custom {
  padding-top: 5px;
}
.btn-red {
  background-color: #f26c4f;
  border: none;
  border-radius: 0;
}
.btn-orange {
  background-color: #f68e56;
  border: none;
  border-radius: 0;
  &:hover, &:active, &:focus {
    background-color: #e97b40 !important;
  }
}
.actions {
  font-size: 14px;
  padding: 0.075rem 0.45rem;
}

.container {
  padding: 10px 25px;
}
.table {    
    width: 100%;
    text-align: center;
    border-spacing: 0;  
    td, th {
        border: 1px solid #dbdbdb;
        padding: .5em .75em;
        vertical-align: middle;        
    }
}
.link_button {
  border: none;
  font-size: 22px;
  color: #fff;
  background: rgb(82, 82, 190);
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  margin: 10px 0;
  &:hover {
    background: rgb(41, 41, 202);
  }  
}
.slide-leave-active {
  transition: .2s;
}
.slide-enter-active {
  transition: .7s;
}
.slide-enter{
  transform: translateX(300%)
}
.slide-leave-to {
  transform: translateX(-100%)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.questions {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
    margin: 10px 0;    
    padding-right: 31px;
    li {
      margin: 15px 0;
    }
  }
  li {
    position: relative;
    span.deleteAnswer {
      position: absolute;
      left: -28px;
      top: 8px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      &:after, &:before {
        content: '';
        height: 12px;
        top: calc(50% - 6px);        
        display: block;
        position: absolute;
        width: 2px;
        right: 0;
        background: rgb(161, 161, 161);
      }
      &:hover:after,
      &:hover:before {
        background: #000
      }
      &:after {
        transform: rotate(45deg);        
      }
      &:before {
        transform: rotate(-45deg)
      }
    }
    input {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .checkbox-right-answer {
    position: absolute;
    right: -31px;
    top: calc(50% - 10px);
    height: 20px;
    width: 20px;
  }
}

.deleteQuestion {
  position: absolute;
  left: -25px;
  top: 42px;
  width: 15px;
  height: 15px;  
  cursor: pointer;
  &:after, &:before {
    content: '';
    height: 15px;
    top: calc(50% - 6px);        
    display: block;
    position: absolute;
    width: 2px;
    left: 0;
    background: rgb(201, 201, 201);        
  }
  &:hover:after,
  &:hover:before {
    background: rgb(95, 95, 95);
  }
  &:after {
    transform: rotate(45deg);        
  }
  &:before {
    transform: rotate(-45deg)
  }
}

.add-question {
  color: #1eb81e;
  cursor: pointer;
  margin: 45px 0 15px;
  font-size: 20px;
  font-weight: bold;
  transition: .2s;  
  &:hover {
    color: #117711;                
  }
  span {
    display: inline-block;
    vertical-align: middle;    
    &:last-child{
      margin-left: 10px;
    }
    
  }
}

.add-answer {
  display: inline-block;
  color: rgb(30, 184, 30);
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
  padding-right: 12px;  
  &:hover {
    color: #117711;            
  }
  &:hover span {
    text-decoration: underline;
  }
  span {
    display: inline-block;
    vertical-align: middle;    
    &:last-child{
      margin-left: 0;
    }
  }
  .plus {
    height: 15px;
    width: 15px;
    margin-left: 30px;
    &:after, &:before {
      height: 15px;
      width: 2px;
    }
  }
}

.plus {
  width: 20px;
  height: 20px;
  position: relative;
  background: transparent;    
  &:after,
  &:before {
    content: '';
    position: absolute;
    background: rgb(30, 184, 30);
    height: 20px;
    width: 3px;
    left: 15px;
    display: block;
  }  
  &:after {    
    transform: rotate(90deg)
  }
}

.myform-control,
.myform-control2 {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 7px;
}
.myform-control2 {
  height: 35px;  
}
.question, .block-answer {
  position: relative;
}

.question {
  border-bottom: 1px solid #ccc;
  box-shadow: 2px 3px 6px #ccc;
  padding: 0 10px;
  margin: 20px 0;
}

.answer-title {
  text-align:right;display:block;margin-top: 10px;    margin-bottom: -10px;
}

.btn-save {
  padding-left: 30px;
  position: relative;
  span.arrow {
    position: absolute;
    display: block;
    top: 10px;
    left: 8px;
    height: 17px;
    width: 13px;
    background: url(../arrow.png) center/contain no-repeat;    
  }
}

label {
  font-size: 16px;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: #2196F3;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 7px;
    right: -31px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: #eee;
  }
  
}


@for $i from 1 through 100 {
  .order#{$i} { order: $i; }
}